*{
  box-sizing: border-box;  
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #eee;
  text-color: red;
}

header {
  /* border: 2px solid teal; */
  display: grid;
  grid-template-rows: 104px;
  align-items: center;
}

header h1 {
  /* border: 2px solid aquamarine; */
  text-align: center;
  font-size: 40px;
}

.container {
  /* border: 2px solid salmon; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.card {
  /* border: 2px solid teal; */
  display: grid;
  justify-items: center; 
  grid-template-rows: 406px auto auto;
  gap: 20px;
  font-size: 18px;
}

.card-empty {
  border: 4px dashed #969696;
  height: 406px;
  width: 240px;
  border-radius: 8px;
}

.card img {
  height: 406px;
  min-height: 406px;
  min-width: 240px;
  border-radius: 8px;
}

.card .p1-hand {
  border: 4px solid #0B95FC;
}

.card .p2-hand {
  border: 4px solid #9D36FC;       
}

.card-count {
  background: #969696;
  padding: 10px;
  border-radius: 8px;
  width: 240px;
  text-align: center;
  color: white;
  height: 42px;
}

.p1-card-count {
  background-color: #0B95FC;
}

.p2-card-count {
  background-color: #9D36FC;
}

.wins {
  display: inline-block;
}