*{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #eee;
}

header {
  /* border: 2px solid teal; */
  display: grid;
  grid-template-rows: minmax(88px, auto);
}

header h1 {
  /* border: 2px solid aquamarine; */
  text-align: center;
}

.container {
  /* border: 2px solid salmon; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.card {
  /* border: 2px solid teal; */
  display: grid;
  justify-items: center; 
}

.card-empty {
  border: 2px dashed teal;
  height: 410px;
  width: 234px;
  border-radius: 8px;
}


.card img {
  height: 406px;
  min-height: 406px;
  min-width: 234px;
  border-radius: 8px;
}

.card .p1-hand {
  border: 2px solid red;
}

.card .p2-hand {
  border: 2px solid blue;       
}